.App {
  text-align: center;
}

.App-header {
  background-color: #E9ECF4;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LoginBox{
  background-color: #7F6AFF;
  padding: 5%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px
}

.LeftBox {
  background-color: white;
  padding: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding-left: 8px;
  margin-bottom: 5%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.LoginTitle{
  color: black;
  display: flex;
  padding-left: 1%;
  font-size: 28px;
}

.EmailTitle{
  color: black;
  display: flex;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.LoginButton{
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px auto;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.SignupButton{
  border: none;
  background: lightcoral;
  color: white;
  padding: 12px 24px;
  margin: 8px auto;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 10%
}

.Banner{
  background: #7F6AFF;
  font-size: 2vw;
  color: white;
  margin-top: 2%;
  display: flex;
  width: auto;
  padding-left: 3vh;
  text-align: left;
  box-shadow: 3px 3px 3px grey;
}

.MainBody {
  display: flex;
  height: 100vh;
}

.Sidebar {
  flex: 0 0 auto;
  width: 20%;
}

.Timeline {
  flex: 1;
  padding: 2vw;
}

.Modules {
  flex: 1;
  padding: 2vw;
}

.PastEvents {
  flex: 0 0 20%;
  padding: 2vw;
}

.ps-sidebar-container {
  height: 100% !important;
}

.ps-menuitem-root {
  font-size: 1vw;
  margin-top: 8vh;
}

.ps-menu-button {
  height: 100px !important;
}

.ewZDmd{
  margin: 2vh !important;
}

.hJwDfp {
  margin: 2vh !important;
  padding-top: 1vh !important;
}

.MuiCard-root{
  margin-top: 1vh;
  padding-bottom: 1vh;
  width: 80%;
}

.MuiTypography-root{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  font-size: 1vw !important;
}

.ModuleTitle{
  color:#7F6AFF;
  font-size: 3vh !important;
  font-weight: bold !important;
}

.CertDescription{
  flex: 1;
  padding: 2vw;
  text-align: left;
}

.MuiTableCell-root{
  font-size: 1.5vw !important;
}