.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E9ECF4;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginBox{
  background-color: #7F6AFF;
  padding: 5%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px
}

.LeftBox {
  background-color: white;
  padding: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding-left: 8px;
  margin-bottom: 5%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.LoginTitle{
  color: black;
  display: flex;
  padding-left: 1%;
  font-size: 28px;
}

.EmailTitle{
  color: black;
  display: flex;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.LoginButton{
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px auto;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.SignupButton{
  border: none;
  background: lightcoral;
  color: white;
  padding: 12px 24px;
  margin: 8px auto;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 10%
}

.Banner{
  background: #7F6AFF;
  font-size: 40px;
  color: white;
  padding-left: 3%;
  margin-top: 2%;
  display: flex;
  justify-content: left;
  box-shadow: 3px 3px 3px grey;
}

.Sidebar{
  background-color: white;
  padding: 0% 2% 100% 2%;
  font-size: large;
  text-align: center;
}

.Sidebar td{
  padding: auto;
}



